In [1]:
import pandas as pd

dataset = pd.read_csv(r"C:\Users\user\Desktop\project\Flight-Delay-master\Flight-Delay-master\test 101\final11.csv", 
                          index_col=False,low_memory=False)
                          #names=["month","station_name","day","max_temp","min_temp","avg_temp","dep_temp","ADP_temp","AWB_temp","degree_days_heat","degree_days_cool","weather_type","snow_depth","space","snow_fall","TLC_precipitation","pressure_avg_stn","pressure_avg_SL","?1","?2","wind","peak_speed","peak_dir","sust_speed","sust_dir"])
                          #columns=["month","station_name","day","max_temp","min_temp","avg_temp","dep_temp","ADP_temp","AWB_temp","degree_days_heat","degree_days_cool","weather_type","snow_depth","space","snow_fall","TLC_precipitation","pressure_avg_stn","pressure_avg_SL","?1","?2","wind","peak_speed","peak_dir","sust_speed","sust_dir"])

# dataset = dataset_jan
# dataset.append(dataset_feb)
# dataset.append(dataset_mar)
# dataset.append(dataset_apr)
# dataset.append(dataset_may)
# dataset.append(dataset_jun)
# dataset.append(dataset_jul)
# dataset.append(dataset_aug)
# dataset.append(dataset_sep)
# dataset.append(dataset_oct)
# dataset.append(dataset_nov)
# dataset.append(dataset_dec)
dataset.sample(5)

,id,month,station_name,day,max_temp,min_temp,avg_temp,dep_temp,ADP_temp,AWB_temp,...,pressure_avg_stn,pressure_avg_SL,?1,?2,wind,peak_speed,peak_dir,sust_speed,sust_dir,Unnamed: 26
86624,1,11,WILMINGTON NC,6,82,61,72,13,64,65,...,30.03,30.06,0.9,27,2.7,16,250,12,250,6.0
189523,1,11,WALLOPS ISLAND VA,23,42,28,35,-12,26,32,...,30.08,30.12,3.2,33,3.5,16,330,12,360,23.0
100530,1,1,SCOTTSBLUFF NE,7,10,-14,-2,-29,-6,0,...,26.21,30.58,4.5,11,7.5,21,100,18,110,7.0
53753,1,7,LUBBOCK TX,27,96,73,85,5,56,67,...,26.71,30,7.5,18,7.9,26,210,20,190,27.0
11888,1,2,HUNTINGTON WV,10,53,19,36,1,14,28,...,29.33,30.21,5.2,19,5.8,22,180,16,190,10.0

In [2]:
data_st = pd.read_csv(r"C:\Users\user\Desktop\project\Flight-Delay-master\Flight-Delay-master\test102\Station List.txt", header=None, sep = "|")

In [3]:
data_st=data_st.sort_values([2],ascending=True)

In [4]:
data_st.sample(5)

        0      1                                    2              3   4
78   EKO   24121                    Elko Rgnl Airport           Elko  NV
212  SFO   23234  San Francisco International Airport  San Francisco  CA
90   FSM   13964                Ft Smith Rgnl Airport            NaN  AR
126  ADQ   25501                       Kodiak Airport         Kodiak  AK
91   FWA   14827       Ft Wayne International Airport            NaN  IN

In [5]:
data_st_arr = data_st[0].unique()

In [6]:
station_weather_list = pd.read_csv(r"C:\Users\user\Desktop\project\Flight-Delay-master\Flight-Delay-master\test102\station weather.csv")

In [7]:
#Flight data

flight_data = pd.read_csv(r"C:\Users\user\Desktop\project\Flight-Delay-master\Flight-Delay-master\flights_new\dataset.csv")

In [8]:
flight_data = flight_data.drop(['YEAR',
                      'FL_DATE',
                      'OP_CARRIER_AIRLINE_ID',
                      'OP_CARRIER','TAIL_NUM',
                      'OP_CARRIER_FL_NUM',
                      'ORIGIN_AIRPORT_SEQ_ID',
                      'ORIGIN_CITY_MARKET_ID',
                      'ORIGIN_CITY_NAME',
                      'ORIGIN_STATE_ABR',
                      'ORIGIN_STATE_FIPS',
                      'ORIGIN_STATE_NM',
                      'ORIGIN_WAC',
                      'DEST_AIRPORT_SEQ_ID',
                      'DEST_AIRPORT_SEQ_ID',
                      'DEST_CITY_NAME',
                      'DEST_STATE_ABR',
                      'DEST_STATE_FIPS',
                      'DEST_STATE_NM',
                      'DEST_WAC',
                      'DEP_TIME',
                      'DEP_DELAY',
                      'TAXI_OUT',
                      'WHEELS_OFF',
                      'WHEELS_ON',
                      'TAXI_IN',
                      'ARR_TIME',
                      'ARR_DELAY',
                      'ACTUAL_ELAPSED_TIME',
                      'AIR_TIME',
                      'FLIGHTS',
                      'DIVERTED',
                      'DISTANCE_GROUP',
                      'DIV_AIRPORT_LANDINGS'
                     ], axis=1)

flight_data.head()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,...,DEP_DELAY_GROUP,DEP_TIME_BLK,CRS_ARR_TIME,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CRS_ELAPSED_TIME,DISTANCE
0,2,6,2,3,AA,11057,CLT,13198,33198,MCI,...,0.0,1800-1859,2023,0.0,0.0,-1.0,2000-2059,0.0,153.0,808.0
1,2,6,3,4,AA,12953,LGA,13303,32467,MIA,...,-1.0,0800-0859,1120,0.0,0.0,-1.0,1100-1159,0.0,195.0,1096.0
2,2,6,4,5,AA,12953,LGA,13303,32467,MIA,...,-1.0,0800-0859,1120,0.0,0.0,-1.0,1100-1159,0.0,195.0,1096.0
3,2,6,5,6,AA,12953,LGA,13303,32467,MIA,...,-1.0,0800-0859,1120,0.0,0.0,-1.0,1100-1159,0.0,195.0,1096.0
4,2,6,7,1,AA,12953,LGA,13303,32467,MIA,...,-1.0,0800-0859,1120,0.0,0.0,-1.0,1100-1159,0.0,195.0,1096.0

In [9]:
flight_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2157737 entries, 0 to 2157736
Data columns (total 23 columns):
 #   Column               Dtype
---  ------               -----
 0   QUARTER              int64
 1   MONTH                int64
 2   DAY_OF_MONTH         int64
 3   DAY_OF_WEEK          int64
 4   OP_UNIQUE_CARRIER    object
 5   ORIGIN_AIRPORT_ID    int64
 6   ORIGIN               object
 7   DEST_AIRPORT_ID      int64
 8   DEST_CITY_MARKET_ID  int64
 9   DEST                 object
 10  CRS_DEP_TIME         int64
 11  DEP_DELAY_NEW        float64
 12  DEP_DEL15            float64
 13  DEP_DELAY_GROUP      float64
 14  DEP_TIME_BLK         object
 15  CRS_ARR_TIME         int64
 16  ARR_DELAY_NEW        float64
 17  ARR_DEL15            float64
 18  ARR_DELAY_GROUP      float64
 19  ARR_TIME_BLK         object
 20  CANCELLED            float64
 21  CRS_ELAPSED_TIME     float64
 22  DISTANCE             float64
dtypes: float64(9), int64(9), object(5)
memory usage: 378.6+ MB

In [30]:
flight_data_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450017 entries, 0 to 450016
Data columns (total 17 columns):
MONTH                  450017 non-null int64
DAY_OF_MONTH           450017 non-null int64
DAY_OF_WEEK            450017 non-null int64
OP_UNIQUE_CARRIER      450017 non-null object
ORIGIN_AIRPORT_ID      450017 non-null int64
ORIGIN                 450017 non-null object
DEST_AIRPORT_ID        450017 non-null int64
DEST_CITY_MARKET_ID    450017 non-null int64
DEST                   450017 non-null object
CRS_DEP_TIME           450017 non-null int64
DEP_DELAY_NEW          441476 non-null float64
CRS_ARR_TIME           450017 non-null int64
ARR_DELAY_NEW          439645 non-null float64
CANCELLED              450017 non-null float64
CANCELLATION_CODE      8886 non-null object
CRS_ELAPSED_TIME       450013 non-null float64
DISTANCE               450017 non-null float64
dtypes: float64(5), int64(8), object(4)
memory usage: 58.4+ MB

In [10]:
#origin
station_weather_list_orig = station_weather_list.rename(columns={'station_code': 'ORIGIN', 'month': 'MONTH', 'day': 'DAY_OF_MONTH', #keys
                                                            
'id' : 'Origin_id',

'station_name' : 'Origin_station_name',

'max_temp' : 'Origin_max_temp',
'min_temp' : 'Origin_min_temp',
'avg_temp' : 'Origin_avg_temp',
'dep_temp' : 'Origin_dep_temp',
'ADP_temp' : 'Origin_ADP_temp',
'AWB_temp' : 'Origin_AWB_temp',
'degree_days_heat' : 'Origin_degree_days_heat',
'degree_days_cool' : 'Origin_degree_days_cool',
'weather_type' : 'Origin_weather_type',
'snow_depth' : 'Origin_snow_depth',
'space' : 'Origin_space',
'snow_fall' : 'Origin_snow_fall',
'TLC_precipitation' : 'Origin_TLC_precipitation',
'pressure_avg_stn' : 'Origin_pressure_avg_stn',
'pressure_avg_SL' : 'Origin_pressure_avg_SL',
'?1' : 'Origin_?1',
'?2' : 'Origin_?2',
'wind' : 'Origin_wind',
'peak_speed' : 'Origin_peak_speed',
'peak_dir' : 'Origin_peak_dir',
'sust_speed' : 'Origin_sust_speed',
'sust_dir' : 'Origin_sust_dir'})

In [11]:
#Destination
station_weather_list_dest = station_weather_list.rename(columns={'station_code': 'DEST', 'month': 'MONTH', 'day': 'DAY_OF_MONTH', #keys
                                                            
'id' : 'Dest_id',
'max_temp' : 'Dest_max_temp',
'min_temp' : 'Dest_min_temp',
'avg_temp' : 'Dest_avg_temp',
'dep_temp' : 'Dest_dep_temp',
'ADP_temp' : 'Dest_ADP_temp',
'AWB_temp' : 'Dest_AWB_temp',
'degree_days_heat' : 'Dest_degree_days_heat',
'degree_days_cool' : 'Dest_degree_days_cool',
'weather_type' : 'Dest_weather_type',
'snow_depth' : 'Dest_snow_depth',
'space' : 'Dest_space',
'snow_fall' : 'Dest_snow_fall',
'TLC_precipitation' : 'Dest_TLC_precipitation',
'pressure_avg_stn' : 'Dest_pressure_avg_stn',
'pressure_avg_SL' : 'Dest_pressure_avg_SL',
'?1' : 'Dest_?1',
'?2' : 'Dest_?2',
'wind' : 'Dest_wind',
'peak_speed' : 'Dest_peak_speed',
'peak_dir' : 'Dest_peak_dir',
'sust_speed' : 'Dest_sust_speed',
'sust_dir' : 'Dest_sust_dir'})

In [12]:
station_weather_list_orig['ORIGIN'] = station_weather_list_orig['ORIGIN'].str.strip()
station_weather_list_orig.head()

,ORIGIN,Origin_id,MONTH,Origin_station_name,DAY_OF_MONTH,Origin_max_temp,Origin_min_temp,Origin_avg_temp,Origin_dep_temp,Origin_ADP_temp,...,Origin_pressure_avg_stn,Origin_pressure_avg_SL,Origin_?1,Origin_?2,Origin_wind,Origin_peak_speed,Origin_peak_dir,Origin_sust_speed,Origin_sust_dir,Unnamed: 27
0,NSTU,1,1,PAGO PAGO AQ,1,89,82,86,4,79.0,...,29.80,29.81,7.5,10.0,9.0,24,199,14.0,110,1
1,NSTU,1,1,PAGO PAGO AQ,2,88,80,84,2,79.0,...,29.81,29.81,6.9,10.0,7.9,24,199,13.0,90,2
2,NSTU,1,1,PAGO PAGO AQ,3,89,80,85,3,79.0,...,29.79,29.80,6.2,11.0,7.8,24,199,13.0,110,3
3,NSTU,1,1,PAGO PAGO AQ,4,88,80,84,2,79.0,...,29.77,29.79,6.3,11.0,8.0,24,199,15.0,110,4
4,NSTU,1,1,PAGO PAGO AQ,5,89,79,84,2,79.0,...,29.77,29.78,9.3,11.0,10.6,24,199,15.0,110,5

In [14]:
combined_data = pd.merge(flight_data, station_weather_list_orig, on=['MONTH', 'DAY_OF_MONTH', 'ORIGIN'], how='inner')
combined_data.head()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,...,Origin_pressure_avg_stn,Origin_pressure_avg_SL,Origin_?1,Origin_?2,Origin_wind,Origin_peak_speed,Origin_peak_dir,Origin_sust_speed,Origin_sust_dir,Unnamed: 27
0,2,6,2,3,AA,11057,CLT,13198,33198,MCI,...,29.23,30.03,2.1,4.0,4.6,20,30,12.0,20,2
1,2,6,2,3,AA,11057,CLT,14107,30466,PHX,...,29.23,30.03,2.1,4.0,4.6,20,30,12.0,20,2
2,2,6,2,3,AA,11057,CLT,10994,30994,CHS,...,29.23,30.03,2.1,4.0,4.6,20,30,12.0,20,2
3,2,6,2,3,AA,11057,CLT,14100,34100,PHL,...,29.23,30.03,2.1,4.0,4.6,20,30,12.0,20,2
4,2,6,2,3,AA,11057,CLT,13204,31454,MCO,...,29.23,30.03,2.1,4.0,4.6,20,30,12.0,20,2

In [15]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1926150 entries, 0 to 1926149
Data columns (total 48 columns):
 #   Column                    Dtype
---  ------                    -----
 0   QUARTER                   int64
 1   MONTH                     int64
 2   DAY_OF_MONTH              int64
 3   DAY_OF_WEEK               int64
 4   OP_UNIQUE_CARRIER         object
 5   ORIGIN_AIRPORT_ID         int64
 6   ORIGIN                    object
 7   DEST_AIRPORT_ID           int64
 8   DEST_CITY_MARKET_ID       int64
 9   DEST                      object
 10  CRS_DEP_TIME              int64
 11  DEP_DELAY_NEW             float64
 12  DEP_DEL15                 float64
 13  DEP_DELAY_GROUP           float64
 14  DEP_TIME_BLK              object
 15  CRS_ARR_TIME              int64
 16  ARR_DELAY_NEW             float64
 17  ARR_DEL15                 float64
 18  ARR_DELAY_GROUP           float64
 19  ARR_TIME_BLK              object
 20  CANCELLED                 float64
 21  CRS_ELAPSED_TIME          float64
 22  DISTANCE                  float64
 23  Origin_id                 int64
 24  Origin_station_name       object
 25  Origin_max_temp           int64
 26  Origin_min_temp           int64
 27  Origin_avg_temp           int64
 28  Origin_dep_temp           int64
 29  Origin_ADP_temp           float64
 30  Origin_AWB_temp           float64
 31  Origin_degree_days_heat   int64
 32  Origin_degree_days_cool   int64
 33  Origin_weather_type       object
 34  Origin_snow_depth         float64
 35  Origin_space              float64
 36  Origin_snow_fall          float64
 37  Origin_TLC_precipitation  float64
 38  Origin_pressure_avg_stn   float64
 39  Origin_pressure_avg_SL    float64
 40  Origin_?1                 float64
 41  Origin_?2                 float64
 42  Origin_wind               float64
 43  Origin_peak_speed         int64
 44  Origin_peak_dir           int64
 45  Origin_sust_speed         float64
 46  Origin_sust_dir           object
 47  Unnamed: 27               int64
dtypes: float64(21), int64(19), object(8)
memory usage: 720.1+ MB

In [16]:
station_weather_list_dest['DEST'] = station_weather_list_dest['DEST'].str.strip()
station_weather_list_dest.head()

,DEST,Dest_id,MONTH,station_name,DAY_OF_MONTH,Dest_max_temp,Dest_min_temp,Dest_avg_temp,Dest_dep_temp,Dest_ADP_temp,...,Dest_pressure_avg_stn,Dest_pressure_avg_SL,Dest_?1,Dest_?2,Dest_wind,Dest_peak_speed,Dest_peak_dir,Dest_sust_speed,Dest_sust_dir,Unnamed: 27
0,NSTU,1,1,PAGO PAGO AQ,1,89,82,86,4,79.0,...,29.80,29.81,7.5,10.0,9.0,24,199,14.0,110,1
1,NSTU,1,1,PAGO PAGO AQ,2,88,80,84,2,79.0,...,29.81,29.81,6.9,10.0,7.9,24,199,13.0,90,2
2,NSTU,1,1,PAGO PAGO AQ,3,89,80,85,3,79.0,...,29.79,29.80,6.2,11.0,7.8,24,199,13.0,110,3
3,NSTU,1,1,PAGO PAGO AQ,4,88,80,84,2,79.0,...,29.77,29.79,6.3,11.0,8.0,24,199,15.0,110,4
4,NSTU,1,1,PAGO PAGO AQ,5,89,79,84,2,79.0,...,29.77,29.78,9.3,11.0,10.6,24,199,15.0,110,5

In [18]:
combined_data_2 = pd.merge(flight_data, station_weather_list_dest,on=['DEST', 'MONTH', 'DAY_OF_MONTH'], how='inner')
combined_data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1926238 entries, 0 to 1926237
Data columns (total 48 columns):
 #   Column                  Dtype
---  ------                  -----
 0   QUARTER                 int64
 1   MONTH                   int64
 2   DAY_OF_MONTH            int64
 3   DAY_OF_WEEK             int64
 4   OP_UNIQUE_CARRIER       object
 5   ORIGIN_AIRPORT_ID       int64
 6   ORIGIN                  object
 7   DEST_AIRPORT_ID         int64
 8   DEST_CITY_MARKET_ID     int64
 9   DEST                    object
 10  CRS_DEP_TIME            int64
 11  DEP_DELAY_NEW           float64
 12  DEP_DEL15               float64
 13  DEP_DELAY_GROUP         float64
 14  DEP_TIME_BLK            object
 15  CRS_ARR_TIME            int64
 16  ARR_DELAY_NEW           float64
 17  ARR_DEL15               float64
 18  ARR_DELAY_GROUP         float64
 19  ARR_TIME_BLK            object
 20  CANCELLED               float64
 21  CRS_ELAPSED_TIME        float64
 22  DISTANCE                float64
 23  Dest_id                 int64
 24  station_name            object
 25  Dest_max_temp           int64
 26  Dest_min_temp           int64
 27  Dest_avg_temp           int64
 28  Dest_dep_temp           int64
 29  Dest_ADP_temp           float64
 30  Dest_AWB_temp           float64
 31  Dest_degree_days_heat   int64
 32  Dest_degree_days_cool   int64
 33  Dest_weather_type       object
 34  Dest_snow_depth         float64
 35  Dest_space              float64
 36  Dest_snow_fall          float64
 37  Dest_TLC_precipitation  float64
 38  Dest_pressure_avg_stn   float64
 39  Dest_pressure_avg_SL    float64
 40  Dest_?1                 float64
 41  Dest_?2                 float64
 42  Dest_wind               float64
 43  Dest_peak_speed         int64
 44  Dest_peak_dir           int64
 45  Dest_sust_speed         float64
 46  Dest_sust_dir           object
 47  Unnamed: 27             int64
dtypes: float64(21), int64(19), object(8)
memory usage: 720.1+ MB

In [19]:
combined_data_final = pd.merge(combined_data, combined_data_2,on=None, how='inner')
combined_data_final.head()

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,...,Dest_TLC_precipitation,Dest_pressure_avg_stn,Dest_pressure_avg_SL,Dest_?1,Dest_?2,Dest_wind,Dest_peak_speed,Dest_peak_dir,Dest_sust_speed,Dest_sust_dir
0,2,6,2,3,AA,11057,CLT,13198,33198,MCI,...,0.0000,28.92,30.00,6.3,17.0,6.6,18,180,14.0,150
1,2,6,2,3,AA,11057,CLT,14107,30466,PHX,...,0.0000,28.59,29.71,5.1,27.0,6.3,22,280,18.0,280
2,2,6,2,3,AA,11057,CLT,10994,30994,CHS,...,0.0001,29.98,30.03,3.7,23.0,5.9,17,170,14.0,170
3,2,6,2,3,AA,11057,CLT,14100,34100,PHL,...,0.0000,29.93,29.97,6.8,29.0,8.0,31,260,25.0,320
4,2,6,2,3,AA,11057,CLT,13204,31454,MCO,...,0.2100,29.91,30.03,2.4,11.0,4.6,25,80,21.0,80

In [20]:
combined_data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1727654 entries, 0 to 1727653
Data columns (total 72 columns):
 #   Column                    Dtype
---  ------                    -----
 0   QUARTER                   int64
 1   MONTH                     int64
 2   DAY_OF_MONTH              int64
 3   DAY_OF_WEEK               int64
 4   OP_UNIQUE_CARRIER         object
 5   ORIGIN_AIRPORT_ID         int64
 6   ORIGIN                    object
 7   DEST_AIRPORT_ID           int64
 8   DEST_CITY_MARKET_ID       int64
 9   DEST                      object
 10  CRS_DEP_TIME              int64
 11  DEP_DELAY_NEW             float64
 12  DEP_DEL15                 float64
 13  DEP_DELAY_GROUP           float64
 14  DEP_TIME_BLK              object
 15  CRS_ARR_TIME              int64
 16  ARR_DELAY_NEW             float64
 17  ARR_DEL15                 float64
 18  ARR_DELAY_GROUP           float64
 19  ARR_TIME_BLK              object
 20  CANCELLED                 float64
 21  CRS_ELAPSED_TIME          float64
 22  DISTANCE                  float64
 23  Origin_id                 int64
 24  Origin_station_name       object
 25  Origin_max_temp           int64
 26  Origin_min_temp           int64
 27  Origin_avg_temp           int64
 28  Origin_dep_temp           int64
 29  Origin_ADP_temp           float64
 30  Origin_AWB_temp           float64
 31  Origin_degree_days_heat   int64
 32  Origin_degree_days_cool   int64
 33  Origin_weather_type       object
 34  Origin_snow_depth         float64
 35  Origin_space              float64
 36  Origin_snow_fall          float64
 37  Origin_TLC_precipitation  float64
 38  Origin_pressure_avg_stn   float64
 39  Origin_pressure_avg_SL    float64
 40  Origin_?1                 float64
 41  Origin_?2                 float64
 42  Origin_wind               float64
 43  Origin_peak_speed         int64
 44  Origin_peak_dir           int64
 45  Origin_sust_speed         float64
 46  Origin_sust_dir           object
 47  Unnamed: 27               int64
 48  Dest_id                   int64
 49  station_name              object
 50  Dest_max_temp             int64
 51  Dest_min_temp             int64
 52  Dest_avg_temp             int64
 53  Dest_dep_temp             int64
 54  Dest_ADP_temp             float64
 55  Dest_AWB_temp             float64
 56  Dest_degree_days_heat     int64
 57  Dest_degree_days_cool     int64
 58  Dest_weather_type         object
 59  Dest_snow_depth           float64
 60  Dest_space                float64
 61  Dest_snow_fall            float64
 62  Dest_TLC_precipitation    float64
 63  Dest_pressure_avg_stn     float64
 64  Dest_pressure_avg_SL      float64
 65  Dest_?1                   float64
 66  Dest_?2                   float64
 67  Dest_wind                 float64
 68  Dest_peak_speed           int64
 69  Dest_peak_dir             int64
 70  Dest_sust_speed           float64
 71  Dest_sust_dir             object
dtypes: float64(33), int64(28), object(11)
memory usage: 962.2+ MB

In [21]:
combined_data_final.sample(5)

,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,...,Dest_TLC_precipitation,Dest_pressure_avg_stn,Dest_pressure_avg_SL,Dest_?1,Dest_?2,Dest_wind,Dest_peak_speed,Dest_peak_dir,Dest_sust_speed,Dest_sust_dir
1426688,1,3,16,3,F9,10821,BWI,13204,31454,MCO,...,0.0000,30.21,30.33,6.2,36.0,8.2,19,320,15.0,320
147803,2,6,19,6,DL,10397,ATL,13871,33316,OMA,...,0.0000,28.93,29.94,4.9,31.0,6.4,27,330,21.0,330
1161582,4,12,28,2,DL,12478,JFK,10397,30397,ATL,...,0.0000,29.27,30.40,7.2,8.0,8.8,21,100,16.0,80
495703,3,9,19,7,YV,11540,ELP,11298,30194,DFW,...,0.0001,29.19,29.83,11.6,18.0,12.9,27,210,22.0,170
1414616,1,3,11,5,WN,14576,ROC,13204,31454,MCO,...,0.0000,30.00,30.11,7.2,4.0,9.3,26,70,18.0,40

In [22]:
combined_data_final.to_csv('combined.csv')
combined_data_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1727654 entries, 0 to 1727653
Data columns (total 72 columns):
 #   Column                    Dtype
---  ------                    -----
 0   QUARTER                   int64
 1   MONTH                     int64
 2   DAY_OF_MONTH              int64
 3   DAY_OF_WEEK               int64
 4   OP_UNIQUE_CARRIER         object
 5   ORIGIN_AIRPORT_ID         int64
 6   ORIGIN                    object
 7   DEST_AIRPORT_ID           int64
 8   DEST_CITY_MARKET_ID       int64
 9   DEST                      object
 10  CRS_DEP_TIME              int64
 11  DEP_DELAY_NEW             float64
 12  DEP_DEL15                 float64
 13  DEP_DELAY_GROUP           float64
 14  DEP_TIME_BLK              object
 15  CRS_ARR_TIME              int64
 16  ARR_DELAY_NEW             float64
 17  ARR_DEL15                 float64
 18  ARR_DELAY_GROUP           float64
 19  ARR_TIME_BLK              object
 20  CANCELLED                 float64
 21  CRS_ELAPSED_TIME          float64
 22  DISTANCE                  float64
 23  Origin_id                 int64
 24  Origin_station_name       object
 25  Origin_max_temp           int64
 26  Origin_min_temp           int64
 27  Origin_avg_temp           int64
 28  Origin_dep_temp           int64
 29  Origin_ADP_temp           float64
 30  Origin_AWB_temp           float64
 31  Origin_degree_days_heat   int64
 32  Origin_degree_days_cool   int64
 33  Origin_weather_type       object
 34  Origin_snow_depth         float64
 35  Origin_space              float64
 36  Origin_snow_fall          float64
 37  Origin_TLC_precipitation  float64
 38  Origin_pressure_avg_stn   float64
 39  Origin_pressure_avg_SL    float64
 40  Origin_?1                 float64
 41  Origin_?2                 float64
 42  Origin_wind               float64
 43  Origin_peak_speed         int64
 44  Origin_peak_dir           int64
 45  Origin_sust_speed         float64
 46  Origin_sust_dir           object
 47  Unnamed: 27               int64
 48  Dest_id                   int64
 49  station_name              object
 50  Dest_max_temp             int64
 51  Dest_min_temp             int64
 52  Dest_avg_temp             int64
 53  Dest_dep_temp             int64
 54  Dest_ADP_temp             float64
 55  Dest_AWB_temp             float64
 56  Dest_degree_days_heat     int64
 57  Dest_degree_days_cool     int64
 58  Dest_weather_type         object
 59  Dest_snow_depth           float64
 60  Dest_space                float64
 61  Dest_snow_fall            float64
 62  Dest_TLC_precipitation    float64
 63  Dest_pressure_avg_stn     float64
 64  Dest_pressure_avg_SL      float64
 65  Dest_?1                   float64
 66  Dest_?2                   float64
 67  Dest_wind                 float64
 68  Dest_peak_speed           int64
 69  Dest_peak_dir             int64
 70  Dest_sust_speed           float64
 71  Dest_sust_dir             object
dtypes: float64(33), int64(28), object(11)
memory usage: 962.2+ MB

In [51]:
#Flight data


flight_data = pd.read_csv("Flight-data\Data\data.csv", low_memory = False)

In [52]:
flight_data = flight_data.drop(['YEAR',
                      'FL_DATE',
                      'OP_CARRIER_AIRLINE_ID',
                      'OP_CARRIER','TAIL_NUM',
                      'OP_CARRIER_FL_NUM',
                      'ORIGIN_AIRPORT_SEQ_ID',
                      'ORIGIN_CITY_MARKET_ID',
                      'ORIGIN_CITY_NAME',
                      'ORIGIN_STATE_ABR',
                      'ORIGIN_STATE_FIPS',
                      'ORIGIN_STATE_NM',
                      'ORIGIN_WAC',
                      'DEST_AIRPORT_SEQ_ID',
                      'DEST_AIRPORT_SEQ_ID',
                      'DEST_CITY_NAME',
                      'DEST_STATE_ABR',
                      'DEST_STATE_FIPS',
                      'DEST_STATE_NM',
                      'DEST_WAC',
                      'DEP_TIME',
                      'DEP_DELAY',
                      'TAXI_OUT',
                      'WHEELS_OFF',
                      'WHEELS_ON',
                      'TAXI_IN',
                      'ARR_TIME',
                      'ARR_DELAY',
                      'ACTUAL_ELAPSED_TIME',
                      'AIR_TIME',
                      'FLIGHTS',
                      'CARRIER_DELAY',
                      'WEATHER_DELAY',
                      'NAS_DELAY',
                      'SECURITY_DELAY',
                      'LATE_AIRCRAFT_DELAY',
                      'FIRST_DEP_TIME',
                      'TOTAL_ADD_GTIME',
                      'LONGEST_ADD_GTIME',
                      'Unnamed: 55',
                     ], axis=1)

In [ ]:
#For the entire dataset

#flight_data = flight_data.drop(["FIRST_DEP_TIME","TOTAL_ADD_GTIME","LONGEST_ADD_GTIME","Unnamed: 55"],axis=1)

#origin
station_weather_list_orig = station_weather_list.rename(columns={'station_code': 'ORIGIN', 'month': 'MONTH', 'day': 'DAY_OF_MONTH', #keys
                                                            
'id' : 'Origin_id',

'station_name' : 'Origin_station_name',

'max_temp' : 'Origin_max_temp',
'min_temp' : 'Origin_min_temp',
'avg_temp' : 'Origin_avg_temp',
'dep_temp' : 'Origin_dep_temp',
'ADP_temp' : 'Origin_ADP_temp',
'AWB_temp' : 'Origin_AWB_temp',
'degree_days_heat' : 'Origin_degree_days_heat',
'degree_days_cool' : 'Origin_degree_days_cool',
'weather_type' : 'Origin_weather_type',
'snow_depth' : 'Origin_snow_depth',
'space' : 'Origin_space',
'snow_fall' : 'Origin_snow_fall',
'TLC_precipitation' : 'Origin_TLC_precipitation',
'pressure_avg_stn' : 'Origin_pressure_avg_stn',
'pressure_avg_SL' : 'Origin_pressure_avg_SL',
'?1' : 'Origin_?1',
'?2' : 'Origin_?2',
'wind' : 'Origin_wind',
'peak_speed' : 'Origin_peak_speed',
'peak_dir' : 'Origin_peak_dir',
'sust_speed' : 'Origin_sust_speed',
'sust_dir' : 'Origin_sust_dir'})

#Destination
station_weather_list_dest = station_weather_list.rename(columns={'station_code': 'DEST', 'month': 'MONTH', 'day': 'DAY_OF_MONTH', #keys
                                                            
'id' : 'Dest_id',
'max_temp' : 'Dest_max_temp',
'min_temp' : 'Dest_min_temp',
'avg_temp' : 'Dest_avg_temp',
'dep_temp' : 'Dest_dep_temp',
'ADP_temp' : 'Dest_ADP_temp',
'AWB_temp' : 'Dest_AWB_temp',
'degree_days_heat' : 'Dest_degree_days_heat',
'degree_days_cool' : 'Dest_degree_days_cool',
'weather_type' : 'Dest_weather_type',
'snow_depth' : 'Dest_snow_depth',
'space' : 'Dest_space',
'snow_fall' : 'Dest_snow_fall',
'TLC_precipitation' : 'Dest_TLC_precipitation',
'pressure_avg_stn' : 'Dest_pressure_avg_stn',
'pressure_avg_SL' : 'Dest_pressure_avg_SL',
'?1' : 'Dest_?1',
'?2' : 'Dest_?2',
'wind' : 'Dest_wind',
'peak_speed' : 'Dest_peak_speed',
'peak_dir' : 'Dest_peak_dir',
'sust_speed' : 'Dest_sust_speed',
'sust_dir' : 'Dest_sust_dir'})



#combined_data_final.info()

In [53]:
combined_data = pd.merge(flight_data, station_weather_list_orig, on=['MONTH', 'DAY_OF_MONTH', 'ORIGIN'], how='inner')
combined_data.sample(5)

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,...,Origin_pressure_avg_stn,Origin_pressure_avg_SL,Origin_?1,Origin_?2,Origin_wind,Origin_peak_speed,Origin_peak_dir,Origin_sust_speed,Origin_sust_dir,Unnamed: 27
444503,8,13,7,OO,14869,SLC,11097,31097,COD,1100,...,25.61,29.74,10.5,15.0,12.0,35,220,29.0,300,13
1535885,2,2,4,DL,10397,ATL,13851,33851,OKC,812,...,29.06,30.16,6.4,29.0,7.7,22,280,15.0,330,2
3907470,5,18,4,OO,10874,CAK,11433,31295,DTW,1725,...,28.61,29.89,14.9,23.0,15.6,35,230,26.0,230,18
987240,12,17,7,WN,11278,DCA,13342,33342,MKE,2055,...,29.06,30.01,3.8,6.0,5.6,15,70,13.0,70,17
3596257,5,24,3,UA,13204,MCO,14771,32457,SFO,832,...,29.64,29.75,13.6,20.0,14.5,52,230,35.0,230,24

In [54]:
combined_data_2 = pd.merge(flight_data, station_weather_list_dest,on=['DEST', 'MONTH', 'DAY_OF_MONTH'], how='inner')
combined_data_2.sample(5)

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST,CRS_DEP_TIME,...,Dest_pressure_avg_stn,Dest_pressure_avg_SL,Dest_?1,Dest_?2,Dest_wind,Dest_peak_speed,Dest_peak_dir,Dest_sust_speed,Dest_sust_dir,Unnamed: 27
4983284,9,13,3,DL,14747,SEA,10693,30693,BNA,1715,...,29.18,29.80,9.3,18.0,9.7,21,190,16.0,180,13
880953,8,10,4,OO,13930,ORD,13485,33485,MSN,1650,...,29.05,29.98,5.5,20.0,7.0,22,250,15.0,200,10
4066552,11,1,3,WN,12451,JAX,10821,30852,BWI,1220,...,29.41,29.93,0.9,1.0,4.5,16,300,10.0,290,1
3894939,5,1,1,F9,11193,CVG,11298,30194,DFW,1600,...,29.27,29.90,3.1,27.0,7.8,23,250,17.0,240,1
2734097,6,7,3,AA,11057,CLT,11278,30852,DCA,1639,...,29.13,30.07,3.9,15.0,4.7,13,130,10.0,160,7

In [ ]:
combined_data_final = pd.merge(combined_data, combined_data_2,on=None, how='inner')
combined_data_final.sample(5)

In [1]:
combined_data_final.to_csv('combined.csv')
combined_data_final.info()

NameError: name 'combined_data_final' is not defined